/* Media query for phones */
@media only screen and (max-width: 500px) {
  .top-container img,
  .nature-logo,
  .tech-logo,
  .biking-logo {
    display: none; /* Hide all pictures except the profile picture on phones */
  }

  .project {
    display: none;
  }
  .projects h2 {
    display: none;
  }

  .profile img {
    width: 50%;
    height: auto; /* Make the profile picture take the full width of its container */
  }

  .parent {
    grid-template-columns: 1fr; /* Make the parent container a single column on phones */
  }

  .parent img {
    display: none; /* Set to 'block' or appropriate value to make it visible */
  }

  .photo-container {
    height: auto; /* Adjust the height to fit the content on phones */
  }

  /* Remove the rule that hides the carousel */
  .carousel-container {
    display: none;
  }
  #carouselhr {
    display: none;
  }

  #main-navigation {
    flex-direction: column; /* Change to a vertical layout */
    align-items: center; /* Center links in the column */
  }

  #main-navigation li {
    margin: 10px 0; /* Adjust spacing for vertical layout */
    text-align: center; /* Center text in the column */
  }
  .skills-container img {
    height: 60px !important;
    width: auto;
  }
  .skills-container ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    padding: 10px;
  }
  #skills {
    margin-top: 250px;
  }
}

/* Media query for tablets */
@media only screen and (min-width: 501px) and (max-width: 768px) {
  .top-container img,
  .nature-logo,
  .tech-logo,
  .biking-logo {
    display: none; /* Hide all pictures except the profile picture on phones */
  }

  .profile img {
    width: 50%;
    height: auto; /* Make the profile picture take the full width of its container */
  }

  .parent {
    grid-template-columns: 1fr; /* Make the parent container a single column on phones */
  }

  .parent img {
    display: none; /* Set to 'block' or appropriate value to make it visible */
  }

  .photo-container {
    height: auto; /* Adjust the height to fit the content on phones */
  }

  /* Remove the rule that hides the carousel */
  .carousel-container {
    display: none;
  }
  #carouselhr {
    display: none;
  }
  #main-navigation {
    flex-direction: column; /* Change to a vertical layout */
    align-items: center; /* Center links in the column */
  }

  #main-navigation li {
    margin: 10px 0; /* Adjust spacing for vertical layout */
    text-align: center; /* Center text in the column */
  }
  #skills {
    margin-top: 250px;
  }
  .skills-container img {
    height: 75px !important;
    width: auto;
  }
}

@media only screen and (max-width: 1100px) {
  .top-container img,
  .nature-logo,
  .tech-logo,
  .biking-logo {
    display: none; /* Hide all pictures except the profile picture on phones */
  }

  .profile img {
    width: 50%;
    height: auto; /* Make the profile picture take the full width of its container */
  }

  .parent {
    grid-template-columns: 1fr; /* Make the parent container a single column on phones */
  }

  .parent img {
    display: none; /* Set to 'block' or appropriate value to make it visible */
  }

  .photo-container {
    height: auto; /* Adjust the height to fit the content on phones */
  }

  /* Remove the rule that hides the carousel */
  .carousel-container {
    display: none;
  }
  #carouselhr {
    display: none;
  }
  #main-navigation {
    flex-direction: column; /* Change to a vertical layout */
    align-items: center; /* Center links in the column */
  }

  #main-navigation li {
    margin: 10px 0; /* Adjust spacing for vertical layout */
    text-align: center; /* Center text in the column */
  }
  #skills {
    margin-top: 250px;
  }
  .skills-container img {
    height: 75px !important;
    width: auto;
  }
}

/* Media query to hide top images and move parent images to the left for screens smaller than 1500px */
@media only screen and (max-width: 1500px) {
  .top-container img {
    display: none; /* Hide top images */
  }

  .parent img {
    margin-right: 20px; /* Adjust the left margin as needed */
  }

  .project-info {
    margin-top: 125px; /* Adjust the top margin as needed */
  }
  .skills-container ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    margin-left: 100px;
    margin-right: 100px;
  }

  .skills-container li {
    flex: 1 1 calc(50% - 20px); /* Two columns with margin */
  }

  .skills-container img {
    border: none;
    height: 85px;
    width: auto;
    border-radius: 0%;
  }

  .skills-container p {
    font-weight: bold;
  }

  .carousel-buttons #nextBtn,
  .carousel-buttons #prevBtn {
    position: absolute;
    top: calc(50% - -225px); /* Adjust the value based on your design */
  }
}
